
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  background-color: #3d3d3d;
  
  
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.container {
 
  
  width: 100%;

  font-family: 'roboto', sans-serif;
  
  
  color: white;
  
  position: relative;
  opacity: 25.9;
  
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
 
 


}


.container2 {
 
  
  width: 100%;

  
  
  
  color: white;
  
  position: relative;
  opacity: 22.9;
  
  font-size: 3vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
 
 


}



.container2 .box2 
{
 
  display: flex;
  background-color: rgba(0, 0, 0, 0.93);
  width: 65%;
  flex-direction: column;
  
  font-size: 65%;
  border-radius: 5vh;
  font-weight: bolder;
  box-shadow: 32px 32px 32px rgba(255, 255, 255, 0.5);


  
 
 


}


.welcomescreen
{
 
  
  background-color: #04060c;
  



  font-family: 'roboto', sans-serif;
  
  
  color: white;
  
  width: 200%;
  opacity: 25.9;
  display: flex;
  font-size: 3vh;
  position: relative;
  
  
}


.welcomescreen .box
{
  display: flex;
  background-color: rgba(0, 0, 0, 0.95);
  
  position: relative;
  align-items: center;
  justify-content: center;
  
  font-size: 50%;
  border-radius: 10vh;
  font-weight: bolder;

}
.container .box3 img
{
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: row;
  position: relative;

}

.container .section {
  display: flex;
 
  width : 100%;
  height: 100vh;
  position: sticky;
  display: flex;
  background-color: #04060c;
  align-items: center;
  opacity: 30vh;
  justify-content: center;
  flex-direction: column;
  
}




.container .box3
{
  display: flex;
  background-color: rgba(0, 0, 0, 0.95);
  
  position: relative;
  align-items: center;
  justify-content: center;
  width: 90vh;
  height : 50vh;
  font-size: 100%;
  border-radius: 10vh;
  font-weight: bolder;
}
.container .box3 h1
{
  display: flex;
  flex-direction: column;

}



.container .section:nth-child(1){
  
  background-image: url(assets/1_dCDgJXIStlhz9v8anDeiRw.png);
  background-size: cover;
  background-repeat: no-repeat;



}

.container .section:nth-child(2){
  
  background-image: url(./assets/AdobeStock_237619432-scaled.jpeg);
  background-size: cover;



}

.container .section:nth-child(3){
  background-size:cover;
  background-color: #638aff;
  background-image: url(./assets/Human-Brain-Memories-Neurons.jpeg);
  
}



.container .section:nth-child(4){
  background-size:cover;
  background-color: #3b3c40;


  
  
}


.container .section:nth-child(5){
  background-size:cover;
  background-color: #4563c0;
  
  
}



.container .box {
  display: flex;
  background-color: rgba(0, 0, 0, 0.95);
  width: 70%;
  
  flex-direction: column;
  padding: 3vh;
  font-size: 50%;
  border-radius: 5vh;
  font-weight: bolder;
  box-shadow: 32px 32px 32px rgba(255, 255, 255, 0.5);


  
  
}





.container .box .content
{
  display: flex; 
  flex-direction: column;
  height: 50%;
  width: 100%;
  position: relative;


}

.container .box .content .h1 {
  font-size: 3vh;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
}


.container .box .content .p {
  font-size: 3vh;
  font-weight: bold;
  color: white;
  text-align: center;
  
  margin: 0;
}



img{
  width: 80%;
  height: 100%;

}

.container img{
  width: 40vh;
  
}


.container .box .content .smallbox
{
  width: 50%;
  padding: 1vh;
  margin: 3vh;
  
  
  
}


.container .box .content .smallbox .grid
{
  display: flex;
  
  
  
}

.container .box .content .grid {
  display: flex;
}

.container .box .content .grid p{
  font-size: 2.4vh;
  font-weight: bold;
  color: white;
  display: flex;
  text-align: center;
  

  justify-content: space-between;

}