body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  background-color: #3d3d3d;
  
  
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.container {
 
  
  width: 100%;

  
  
  
  color: white;
  
  position: relative;
  opacity: 22.9;
  
  font-size: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
 
 


}








.container .section {
  display: flex;
 
  width : 100%;
  height: 100vh;
  position: sticky;
  display: flex;
  background-color: #638aff;
  align-items: center;
  opacity: 30vh;
  justify-content: center;
  flex-direction: column;
  
}


.container .section:nth-child(1){
  
  background-image: url(./assets/AdobeStock_237619432-scaled.jpeg);
  background-size: cover;



}

.container .section:nth-child(2){
  background-size:cover;
  background-color: #638aff;
  background-image: url(./assets/Human-Brain-Memories-Neurons.jpeg);
  
}



.container .section:nth-child(3){
  background-size:cover;
  background-color: #4563c0;
  
  
}


.container .section:nth-child(4){
  background-size:cover;
  background-color: #4563c0;
  
  
}



.container .box {
  display: flex;
  background-color: rgba(11, 68, 77, 0.5);
  width: 65%;
  flex-direction: column;
  padding: 3vh;
  font-size: 62%;
  border-radius: 5vh;
  font-weight: bolder;
  box-shadow: 32px 32px 32px rgba(255, 255, 255, 0.5);


  
  
}


.container .box .content
{
  display: flex; 
  flex-direction: column;
  height: 50%;
  width: 100%;
  position: relative;


}

.container .box .content .h1 {
  font-size: 3vh;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
}


.container .box .content .p {
  font-size: 3vh;
  font-weight: bold;
  color: white;
  text-align: center;
  
  margin: 0;
}



img{
  width: 100%;
  height: 80%;

}